<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="../static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/signup.css')}}">
</head>
<body>
    <!--navbar-->
    <nav class="navbar" >
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><img class="img_nav" src="http://mobileapps.its.umich.edu/sites/all/themes/umzentwo/images/umich-app-icon.png" ></li>
                <li class="active"><a href="{{ url_for("index_1") }}" id="nav-title">HOME PAGE</a></li>
                <li  class="active"><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </nav>

    <!--content-->
    <h2 class="list " ><label class="col-lg-1"></label>SIGN UP</h2>
    {% import "bootstrap/wtf.html" as wtf %}
    <div class="content-section-a">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-sm-6">
                    <form class="form-signin" method="POST" action="/signup">
                        <br/>
                        <br/>
                        <br/>
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.username) }}
                        {{ wtf.form_field(form.email) }}
                        {{ wtf.form_field(form.password) }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                    </form>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <br/>
                    <br/>
                    <br/>
                    <img class="img-responsive img-rounded" src="../static/images/umich_200.png">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>

    <!--footer-->
    <footer class="footer1 navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <label class="col-lg-6 col-md-6"></label>
                    <img src="http://vpcomm.umich.edu/assets/brand/home/logo.png" class="footer-logo">
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_nav_menu">
                            <ul class="contact">
                                <li class="title-widget">Ann Arbot | Dearborn | Flint </li>
                                <li> <a href="http://regents.umich.edu/"><span>&copy; 2017 The Regents of the University of Michigan 500 S. State Street, Ann Arbor, MI 48109 USA</span></a> </li>
                                <li><a href="/contact/"><span><span class="glyphicon glyphicon-earphone footer-icon" aria-hidden="true"></span> Phone: +1 (734) 764-1817</span></a></li>
                                <li><a href="/contact/"><span class="glyphicon glyphicon-envelope footer-icon" aria-hidden="true"></span> <span>Contact us</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

